.footer {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: black;
    border: solid 1px black;
    padding: 1rem 4rem;
    padding-top: 2rem;
}


.footer-center {
    display: flex;
    flex-direction: column;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.footer-icons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer-icons img{
    height: 20px;
}

@media only screen and (max-width: 1124px)  {
    .footer {
        flex-direction: column;
        gap: 2.5rem;
    }

    .footer-right {
        align-items: flex-start;
    }
}
@media only screen and (min-width: 1124px)  {

}
@media (max-width: 740px) {
    .footer-center-content {
        display: none;
    }
    
}

.footer-left-header {
    margin: 0rem;
    font-size: 1.5rem;
}

.footer-center-header {
    margin: 0rem;
    font-size: 1.1rem;
}

.footer-right-header {
    margin: 0rem;
    font-size: 1.1rem;
}

.footer-center p {
    margin: 0rem;
    margin-top: 0.3rem;
    font-size: 0.8rem;
    padding-left: 0.2rem;
}
.footer-right a {
    margin: 0rem;
    margin-top: 0.3rem;
    font-size: 0.8rem;
}

body::-webkit-scrollbar {
    display: none;
  }


.footer-left, .footer-right {
    flex-grow: 1;
    flex-basis: 0;
}