
.menu-home {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* ABOUT ////////////////////////////////////////////////////////////////////////// */
.about {
    font-family: Poppins,sans-serif;
    gap: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width: 80vw; */
}

@media only screen and (min-width: 1124px)  {
    .about-left-content {
        width: 40%;
        text-align: left;
    }
    .right-about {
        width: 50%;
        display: flex;
        position: relative;
    }
    .events-left {
        width: 40%;
        text-align: left;
        line-height: 50px;
    }
    .events-right {
        text-align: left;
        margin-top: 100px;
        width: 45%;
        margin-right: 40px;
    }
    .events {
        gap: 100px;
    }
    .image-container {
        animation: scroll 20s linear infinite;
    }
}
@media only screen and (max-width: 1124px)  {
    .about-left-content {
        width: 100%;
        text-align: left;
    }
    .right-about {
        width: 100%;
        display: flex;
        position: relative;
    }
    .events-left {
        width: 100%;
        text-align: left;
        line-height: 50px;
    }
    .events-right {
        text-align: left;
        width: 100%;
        /* margin-right: 40px; */
    }
    .events {
        gap: 10px;
    }
}


.about-left-content h2 {
    text-decoration: underline;
    color: #FF6A39;
}
.about-left-content p {
    font-weight: 100;
}


.about-link, .events-link, .menu-link {
    box-shadow: inset 0 0 0 0 #FF6A39;
    color: #FF6A39;
    font-weight: 500;
    padding: 5px;
    border-radius: 12px;
    transition: color .8s ease-in-out, box-shadow .4s ease-in-out;
}
.about-link:hover, .events-link:hover, .menu-link:hover {
    box-shadow: inset 200px 0 0 0 #FF6A39;
    color: white;
    padding: 5px;
    border-radius: 12px;
}

.about-left-header {
    color: #FF6A39;
    text-align: left;
    margin-bottom: 1px;
}

.about-left-content-header {
    margin-left: 80px;
    color: #171C8F;
    font-size: 20px;
    line-height: 40px;
}

.about-left-time {
    color: #FF6A39;
    margin-top: 0px;
}


/* EVENTS ///////////////////////////////////////////////////////////////////////// */
.events {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Poppins,sans-serif;
    /* padding-left: 50px; */
}

.events-left p{
    margin-left: 80px;
    color: #171C8F;
    font-size: 20px;
}


.events h2 {
    text-decoration: underline;
    color: #FF6A39;
}

.event-activities {
    margin-bottom: 40px;
     display: flex;
   flex-direction: column;
   gap: 1px;
}

.event-activities hr {
    margin-top: 40px;
    width: 30%;
    margin-right:0 ;
}

.event-activities svg {
    width: 10%;    
}
.event-items {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
}

.event-design {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    border: solid 2px #171C8F;
    border-radius: 22px;
}

.event-design-text {
    width: 100%;
    padding: 10px;
}

.event-images {
    width: 220px;
    border: solid 4px white;
}


.events-right-content {
    display: flex;
}

.events-right-content-header {
    color: #FF6A39;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */


.active {
    color: white;
    padding: 5px;
    border-radius: 12px;
    box-shadow: inset 200px 0 0 0 #FF6A39;
    body {
        background: linear-gradient(to bottom, white 80%, orange 80%);
    }
}


  /* contact-cards //////////////////////////////////////////////////////////////////////////// */
  @media only screen and (max-width: 1124px)  {
    .contact-card {
        display: none;
    }
}
  @media only screen and (min-width: 1124px)  {
    .contact-card {
        display: flex;
    }
}

  .contact-card {
    flex-direction: column;
    position: absolute;
    top: 0%;
    right: 4%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 12px;
    padding: 14px;
    justify-content: center;
    align-items: center;
    width:300px;
    /* background-color: #171C8F; */
    color: black;
    border: solid 2px #FF6A39;
}

.contact-card h3 {
    margin-top: 20px;
    margin-bottom: 0px
}

.contact-directions {
    margin-bottom: 20px;
}

.contact-card a {
    color: black;
    display: flex;
}
.contact-card a:hover {
    color: black;
    text-decoration:#FF6A39 underline ;
}

.contact-numbers {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    width: 100%;
}

/* Events image scroller /////////////////////////////////////////////////////////// */

.image-scroller {
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
}


.image-container img {
    display: inline-block;
    height: 100px;
    margin-right: 20px;
}
/* ANIMATIONS //////////////////////////////////////////////////////////////// */
@keyframes scroll {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-500px);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

button:disabled {
    opacity: 0.5;
  }

  .booking-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    min-height: 80vh;
    margin-top: 10vh;
 }
 .bookings-days {
     display: flex;
     gap: 20px;
     justify-content: center;
     align-items: center;
     white-space: nowrap;
 }
 .confirmed-bookings{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
 }
 
 .date-search {
     display: flex;
    width: 100vw;
     white-space: nowrap;
     justify-content: center;
     align-items: center;
     gap: 30px;
 }
 
 .booking-date-search-input {
     height: 100%;
     box-sizing: border-box;
     border-radius: 320px;
     padding: 16px;
     background-color: #171b8fcd;
     border: 0;
     margin-top: 0px;
     outline: none;
     color: white;
     font-weight: ;
 
     &:focus {
         border-width: 0px;
        } 
 }
 .booking-days-icon {
     cursor: pointer;
 }
 
 .all-bookings {
     display: flex;
     flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
     justify-content: flex-start;
     color: black;
 }
 
 .bookings-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
 }

.booking-activity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.booking-activity a {
    color: black;
    font-weight: 700;
}
.booking-activity a:hover {
    color: black;
}

.booking-activity h3 {
    margin-top: 30px;
    margin-bottom: 0px;
}


.booking-details-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.booking-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    border-radius: 12px;
    padding: 25px;
    height: 80vh;
}

.booking-details-content h3 {
    max-width: 300px;
    margin: 40px;
}

.edit-delete {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.edit-delete button {
    border-radius: 320px;
    height: 46px;
    padding: 12px;
}

.delete-button {
    background-color: rgba(216, 28, 28, 0.3);
    color: white;
    margin-right: 10px;
    border-radius: 320px;
    border: solid 1px #ffffff00;
}

.delete-button:hover {
    border: solid 1px rgb(182, 21, 21);
    background-color: rgb(182, 21, 21);
    border: solid 1px #ffffff00;
}

.edit-button {
    background-color: #171C8F;
    color: white;
    border: solid 1px #ffffff00;
}
.edit-button:hover {
    background-color: #171C8F;
    color: white;
    border: solid 1px #ffffff00;
}


.confirm-button {
    background-color: #171C8F;
    color: white;
    margin-right: 20px;
    border: solid 1px #ffffff00;
}

.confirm-button:hover {
    background-color: rgb(14, 110, 14);
    border: solid 1px rgb(14, 110, 14);
    color: white;
    border: solid 1px #ffffff00;
}


.edit {
    display: flex;
    white-space: nowrap;
}

.date {
    display: flex;
    white-space: nowrap;
}

.date label {
    margin-top: 12px;
    margin-right: 8px;
}

.edit label {
    margin-top: 12px;
    margin-right: 8px;
}

.personal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 250px;
    /* padding-left: 10px; */
    margin: 20px;
    background-color: #D9D9D9;
    border-radius: 12px;
    padding-bottom: 15px;
    color: black;
}

.personal-content h3, .personal-content p, .personal-content h4 {
    margin: 0rem;
    padding: 1rem;
}

.booking-details-instructions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    padding-left: 10px;
    margin: 20px;
    background-color: #D9D9D9;
    border-radius: 12px;
    padding-bottom: 15px;
    color: black;
    /* height: 126px; */

}



.booking-details h2 {
    margin-top: 0px;
}

.booking-details-instructions p{
    margin: 0px;
    text-align: left;
    padding: 5px;
    padding-right: 15px;
}

.booking-details-instructions h3{
    margin-bottom: 15px;
    text-align: left;
    margin-left: 0px;
    margin-top: 10px;
}

.details-buttons {
    border: 0;
    outline: 0;
    border-radius: 320px;
    padding: 10px;
    background-color:#171C8F;
    color: white;
    font-weight: 600; 
    margin-right: 20px;
}


.Date-clicker {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.clickable {
    cursor: pointer;
}

.all-booking-container {
    display: flex;
    background-color: #D9D9D9;
    border-bottom: 1px solid white;
    width: 20rem;
}

.booking-time {
    padding: 1rem 2rem;
    border-right: 1px solid white;
    margin: 0;
    display: flex;
    align-items: center;
}

.all-bookings p {
    margin: 0;
}

.booking-quantity {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-weight: 700;
}

.booking-quantity svg {
    height: 0.6rem;
}

.search-confirmed-bookings {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: 80%;
    background-color: #2E2E30;
    border-radius: 24px;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
}

.search-confirmed-bookings input[type="text"], .search-confirmed-bookings input[type="text"]:focus  {
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    color: white;
    outline: none;
    width: 100%;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    width: 20vh;
}

.booking-data {
    display: flex;
    padding: 3rem;
    gap: 2rem;
}

.all-bookings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bookings-table-details {
    display: flex;
    gap: 1rem;
}



th {
    text-align: left;
    padding: 1.2rem 0rem;
    padding-right: 1rem;
    font-size: 1.1rem;
}

tr {
    padding-left: 1rem;
}

.table-content {
    box-shadow: 0 -1px 0 #64646468 inset;
    padding: 1rem 0rem;
}
.table-content:last-child {
    box-shadow: none;
}


.table-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.table-container {
    background-color: white;
    color: black;
    padding: 0rem 2rem; 
    margin-bottom: 4rem; 
}


.table-confirmed {
    border-radius: 6px;
    background-color: #EAFCD9;
    padding: 0.1rem 0.7rem;
}
.table-pending {
    color: rgba(0, 0, 0, 0.635);
    background-color: #fdfdfd92;
    padding: 0.1rem 0.7rem;
}

.al-c {
   text-align: center;
   padding-right: 1rem;
}

.tc-c {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.hover {
    cursor: pointer;
    white-space: nowrap
}