
.menu-home {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* ABOUT ////////////////////////////////////////////////////////////////////////// */
.about {
    font-family: Poppins,sans-serif;
    gap: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width: 80vw; */
}

@media only screen and (min-width: 1124px)  {
    .about-left-content {
        width: 40%;
        text-align: left;
    }
    .right-about {
        width: 50%;
        display: flex;
        position: relative;
    }
    .events-left {
        width: 40%;
        text-align: left;
        line-height: 50px;
    }
    .events-right {
        text-align: left;
        margin-top: 100px;
        width: 45%;
        margin-right: 40px;
    }
    .events {
        gap: 100px;
    }
    .image-container {
        animation: scroll 20s linear infinite;
    }
}
@media only screen and (max-width: 1124px)  {
    .about-left-content {
        width: 100%;
        text-align: left;
    }
    .right-about {
        width: 100%;
        display: flex;
        position: relative;
    }
    .events-left {
        width: 100%;
        text-align: left;
        line-height: 50px;
    }
    .events-right {
        text-align: left;
        width: 100%;
        /* margin-right: 40px; */
    }
    .events {
        gap: 10px;
    }
}


.about-left-content h2 {
    text-decoration: underline;
    color: #FF6A39;
}
.about-left-content p {
    font-weight: 100;
}


.about-link, .events-link, .menu-link {
    box-shadow: inset 0 0 0 0 #FF6A39;
    color: #FF6A39;
    font-weight: 500;
    padding: 5px;
    border-radius: 12px;
    transition: color .8s ease-in-out, box-shadow .4s ease-in-out;
}
.about-link:hover, .events-link:hover, .menu-link:hover {
    box-shadow: inset 200px 0 0 0 #FF6A39;
    color: white;
    padding: 5px;
    border-radius: 12px;
}

.about-left-header {
    color: #FF6A39;
    text-align: left;
    margin-bottom: 1px;
}

.about-left-content-header {
    margin-left: 80px;
    color: #171C8F;
    font-size: 20px;
    line-height: 40px;
}

.about-left-time {
    color: #FF6A39;
    margin-top: 0px;
}


/* EVENTS ///////////////////////////////////////////////////////////////////////// */
.events {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Poppins,sans-serif;
    /* padding-left: 50px; */
}

.events-left p{
    margin-left: 80px;
    color: #171C8F;
    font-size: 20px;
}


.events h2 {
    text-decoration: underline;
    color: #FF6A39;
}

.event-activities {
    margin-bottom: 40px;
     display: flex;
   flex-direction: column;
   gap: 1px;
}

.event-activities hr {
    margin-top: 40px;
    width: 30%;
    margin-right:0 ;
}

.event-activities svg {
    width: 10%;    
}
.event-items {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
}

.event-design {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    border: solid 2px #171C8F;
    border-radius: 22px;
}

.event-design-text {
    width: 100%;
    padding: 10px;
}

.event-images {
    width: 220px;
    border: solid 4px white;
}


.events-right-content {
    display: flex;
}

.events-right-content-header {
    color: #FF6A39;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */


.active {
    color: white;
    padding: 5px;
    border-radius: 12px;
    box-shadow: inset 200px 0 0 0 #FF6A39;
    body {
        background: linear-gradient(to bottom, white 80%, orange 80%);
    }
}


  /* contact-cards //////////////////////////////////////////////////////////////////////////// */
  @media only screen and (max-width: 1124px)  {
    .contact-card {
        display: none;
    }
}
  @media only screen and (min-width: 1124px)  {
    .contact-card {
        display: flex;
    }
}

  .contact-card {
    flex-direction: column;
    position: absolute;
    top: 0%;
    right: 4%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 12px;
    padding: 14px;
    justify-content: center;
    align-items: center;
    width:300px;
    /* background-color: #171C8F; */
    color: black;
    border: solid 2px #FF6A39;
}

.contact-card h3 {
    margin-top: 20px;
    margin-bottom: 0px
}

.contact-directions {
    margin-bottom: 20px;
}

.contact-card a {
    color: black;
    display: flex;
}
.contact-card a:hover {
    color: black;
    text-decoration:#FF6A39 underline ;
}

.contact-numbers {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    width: 100%;
}

/* Events image scroller /////////////////////////////////////////////////////////// */

.image-scroller {
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
}


.image-container img {
    display: inline-block;
    height: 100px;
    margin-right: 20px;
}
/* ANIMATIONS //////////////////////////////////////////////////////////////// */
@keyframes scroll {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-500px);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

button:disabled {
    opacity: 0.5;
  }

  .booking-container {
    display: flex;
    position: relative;
    box-sizing: border-box;
    height: 100%;
 }
 .bookings-days {
     display: flex;
     gap: 20px;
     justify-content: center;
     align-items: center;
     white-space: nowrap;
 }
 
 
 .date-search {
     display: flex;
     white-space: nowrap;
     justify-content: center;
     align-items: center;
     gap: 30px;
     width: 260px;
 }
 
 .booking-date-search-input {
     height: 100%;
     box-sizing: border-box;
     border-radius: 320px;
     padding: 16px;
     background-color: #171b8fcd;
     border: 0;
     margin-top: 0px;
     outline: none;
     color: white;
     font-weight: ;
 
     &:focus {
         border-width: 0px;
        } 
 }
 .booking-days-icon {
     cursor: pointer;
 }
 
 .bookings-list-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
     justify-content: flex-start;
     color: black;
     margin: 0;
 }
 
 .booking-det {
    display: flex;
    flex-direction: column;
    padding: 1rem;
 }

.booking-activity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.booking-activity a {
    color: black;
    font-weight: 700;
}
.booking-activity a:hover {
    color: black;
}

.booking-activity h3 {
    margin-top: 30px;
    margin-bottom: 0px;
}


.booking-details-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.booking-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    border-radius: 12px;
    padding: 25px;
    height: 80vh;
}

.booking-details-content h3 {
    max-width: 300px;
    margin: 40px;
}

.edit-delete {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.edit-delete button {
    border-radius: 320px;
    height: 46px;
    padding: 12px;
}

.delete-button {
    background-color: rgba(216, 28, 28, 0.3);
    color: white;
    margin-right: 10px;
    border-radius: 320px;
    border: solid 1px #ffffff00;
}

.delete-button:hover {
    border: solid 1px rgb(182, 21, 21);
    background-color: rgb(182, 21, 21);
    border: solid 1px #ffffff00;
}

.edit-button {
    background-color: #171C8F;
    color: white;
    border: solid 1px #ffffff00;
}
.edit-button:hover {
    background-color: #171C8F;
    color: white;
    border: solid 1px #ffffff00;
}


.confirm-button {
    background-color: #171C8F;
    color: white;
    margin-right: 20px;
    border: solid 1px #ffffff00;
}

.confirm-button:hover {
    background-color: rgb(14, 110, 14);
    border: solid 1px rgb(14, 110, 14);
    color: white;
    border: solid 1px #ffffff00;
}


.edit {
    display: flex;
    white-space: nowrap;
}

.date {
    display: flex;
    white-space: nowrap;
}

.date label {
    margin-top: 12px;
    margin-right: 8px;
}

.edit label {
    margin-top: 12px;
    margin-right: 8px;
}

.personal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 250px;
    /* padding-left: 10px; */
    margin: 20px;
    background-color: #D9D9D9;
    border-radius: 12px;
    padding-bottom: 15px;
    color: black;
}

.personal-content h3, .personal-content p, .personal-content h4 {
    margin: 0rem;
    padding: 1rem;
}

.booking-details-instructions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    padding-left: 10px;
    margin: 20px;
    background-color: #D9D9D9;
    border-radius: 12px;
    padding-bottom: 15px;
    color: black;
    /* height: 126px; */

}



.booking-details h2 {
    margin-top: 0px;
}

.booking-details-instructions p{
    margin: 0px;
    text-align: left;
    padding: 5px;
    padding-right: 15px;
}

.booking-details-instructions h3{
    margin-bottom: 15px;
    text-align: left;
    margin-left: 0px;
    margin-top: 10px;
}

.details-buttons {
    border: 0;
    outline: 0;
    border-radius: 320px;
    padding: 10px;
    background-color:#171C8F;
    color: white;
    font-weight: 600; 
    margin-right: 20px;
}


.date-clicker {
    display: flex;
    align-items: center;
    width: 254px;
    justify-content: space-evenly;

}

.clickable {
    cursor: pointer;
}

.booking-item {
    display: flex;
    background-color: #D9D9D9;
    border-bottom: 1px solid white;
    width: 21rem;
}

.booking-time {
    padding: 1rem 2rem;
    border-right: 1px solid white;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: justify;
}


.booking-quantity {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-weight: 700;
}

.booking-quantity svg {
    height: 0.6rem;
}

.search-confirmed-bookings {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    width: 206px;
    background-color: white;
    border-radius: 24px;
    padding: 0.2rem 0.6rem;
    border: 1px solid rgba(0, 0, 0, 0.299);
}

.search-confirmed-bookings input[type="text"], .search-confirmed-bookings input[type="text"]:focus  {
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    color: black;
    outline: none;
    width: 100%;
}

.menu-options {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F3F4F6;
    padding: 1.2rem;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 5;
    height: 100%;
    width: 15vw;
}


.bookings-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.8rem;
}

.bookings-table-details {
    display: flex;
    gap: 1rem;
}



/* th {
    text-align: left;
    padding: 0.4rem 0rem;
    padding-right: 1rem;
    font-size: 1.1rem;
} */


.table-row {
    box-shadow: 0 -1px 0 #64646468 inset;
    padding: 1rem 0rem;
}



.dashboard-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding-bottom: 0.8rem;
}


.guests-count {
   text-align: center;
   padding-right: 1rem;
}

.confirm-icon {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.menu-option {
    cursor: pointer;
    white-space: nowrap;
    padding: 0.2rem 0.7rem;
    border-radius: 24px;
}

.date-label {
    white-space: nowrap
}

.no-instructions {
    color: rgba(0, 0, 0, 0.65);
    font-style: italic;
}

.note-label {
    color: rgba(0, 0, 0, 0.9);
    font-style: italic;
    overflow: scroll;
    margin: 0;
}



.name-input {
    border: 1px solid rgba(255, 255, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color: black;
}

.name-input:focus {
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    outline: none;
}

.date-input {
    border: 1px solid rgba(255, 255, 0, 0);
    cursor: text;
    background-color: rgba(0, 0, 0, 0);
    color: black;
}

.date-input::-webkit-calendar-picker-indicator {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color-scheme: light;
}

.date-input::-webkit-datetime-edit-fields-wrapper {
    cursor: text;
    /* ::-webkit-datetime-edit
        ::-webkit-datetime-edit-fields-wrapper
        ::-webkit-datetime-edit-text
        ::-webkit-datetime-edit-month-field
        ::-webkit-datetime-edit-day-field
        ::-webkit-datetime-edit-year-field
        ::-webkit-inner-spin-button
        ::-webkit-calendar-picker-indicator */
}

.date-input:focus {
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    outline: none;
}
.date-filter {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.299);
    border-radius: 12px;
    padding: 0.2rem 0.7rem;
    gap: 0.3rem;
}

.date-filter p {
    margin: 0;
    font-size: 0.8rem;
    text-align: center;
}

.add-button {
    padding: 0.2rem 0.7rem;
    margin: 0;
    font-weight: 700;
    cursor: pointer;
}

.table-new-booking-form {
    background-color: #e5e7eb;
    position: absolute;
    padding: 1rem;
    right: 1rem;
    top: 1rem;
    border-radius: 12px;
    color: black !important;
}

.form-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.table-header {
   background-color: #F9F9F9;
}

.table-bookings-table {
    border-collapse: separate;
    border-spacing: 0 5px;
    width: 100%;
  }

.filter-container {
    display: flex;
    gap: 1rem;
}

.dashboard-heading {
    text-align: center;
}

.pagination {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.pointer {
    cursor: pointer;
}

.bookings-list {
    width: 80vw;
    display: flex;
}

   .time-slot {
    width: 50px;
    text-align: center;
    font-size: 0.9rem;
   }

   .calendar-container {
    width: 90vw;
    /* overflow: scroll; */
    margin-bottom: 5rem;
   }

   .c {
    width: 50px;
    height: 50px;
    border-color: rgba(0,0,0,.12);
    border-style: solid;
    border-width: 1px 0px 0px 1px;
    background-color: white;
    box-sizing: border-box;
    color: black;
    position: relative;
   }

   .last {
    border-color: rgba(0,0,0,.12);
    border-style: solid;
    border-width: 1px 0px 1px 1px;
   }

   .table-grid-row td:last-child {
    width: 50px;
    height: 50px;
    border-color: rgba(0,0,0,.12);
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    }


   .table-grid {
    width: 2200px; 
    border-spacing: 0px 0px;
   }

   .table-grid-times {
    width: 2200px; 
    border-spacing: 0px 0px;
   }


   .table-grid-body {
        border-spacing: 0;
        
   }

   .d {
    border: none;
   }

   .e {
    padding: 0;
   }

   .abc {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(248, 248, 248);
    color: black;
    width: 400px;
    z-index: 3;
    padding: 0.3rem;
    box-sizing: border-box;
    font-size: 0.8rem;
    border-top: 1px solid blue;
   }

   .abc p {
    font-size: 0.6rem;
   }

   .abc-q {
    display: flex;
    gap: 2px;
    align-items: center;
   }

   .middle-dot {
    font-size: 1.1rem;
   }

   .bookings-data-search {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
   }

   .disabled {
    color: rgba(0, 0, 0, 0.316);
   }

   .active-menu {
    background-color: #101923;
    color: white;
   }

   .form-page-container {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
   }

   .form-page {
    border: 1px solid white;
    padding: 1rem 2rem;
    border-radius: 12px;
   }

   .final-block {
    border-color: rgba(0,0,0,.12) !important;
    border-style: solid !important;
    border-width: 1px 1px 1px 1px !important;
   }

   .menu-option-container {
    gap: 0.5rem;
    position: relative;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
  }
   .menu-option-container:hover {
    background-color: #E4E7EB;
  }

  #active-menu-dashboard-calendar {
    background-color: #E5E7EB;
    color: #1F2937;
  }

  .menu-options ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    color: #6B7280;
  }


  .bookings-header, .bookings-data-search-left {
    flex-grow: 1;
    flex-basis: 0;
  }



  /* ///////////////// Table CSS /////////////////////////*/

  .th {
    font-size: 0.9rem;
    color: #686870;
    padding: 1px 16px 1px 10px;
    font-weight: 500;
    vertical-align: middle;
    text-align: left;
    height: 3rem;
  }
  table {
    border-collapse: collapse;
    width: 80vw;
  }

.tr {
    border-top: 1px solid #E5E7EB;
}

.tr:hover {
    background-color: #F9F9FA;
}

.td {
    padding: 0.5rem;
    font-size: 0.8rem;
    vertical-align: middle;
}

.td-center {
    text-align: center;
}

.status-confirmed {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #BCF7D1;
    box-sizing: border-box;
    color: #1A6534;
}
.status-pending {
    color: rgba(0, 0, 0, 0.635);
    background-color: #fdfdfd92;
    padding: 0.1rem 0.7rem;
}

.table-container {
    display: flex;
    justify-content: center; 
    background-color: white;
    margin-bottom: 1rem; 
    position: relative;
    border-radius: 12px;
    padding: 1rem 2rem;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

.table-container-heading {
    margin: 0.8rem 0rem;
    font-size: 1.15rem;
    font-weight: 600;
}

.table-column-no-wrap {
    white-space: nowrap;
    overflow: scroll;
}
.table-column-notes {
    white-space: nowrap;
    overflow: scroll;
    width:200px;
    scroll-behavior: smooth;
}
.table-column-notes::-webkit-scrollbar {
    display: none;
} 

.pagination-table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    font-size: 0.8rem;
    margin-top: 1rem;
}
.pagination-table div {
    border:none;
    background-color: #FAFAFA;
    border-radius: 4px;
    padding: 0.1rem 0.6rem;
    cursor: pointer;
}
.pagination-table div:hover {
    border:none;
    background-color: #FAFAFA;
    border-radius: 4px;
    padding: 0.1rem 0.6rem;
}

.name-search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.299);
    padding: 0.2rem 0.5rem;
    border-radius: 12px;
    width: 10rem;
}

.name-search input {
    font-size: 0.85rem;
}

.filters-container {
    display: flex;
    justify-content: space-between;
}

.add-booking-button {
    background-color: black;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 8px;
    font-size: 0.85rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
}

.filters-buttons {
    display: flex;
    gap: 1rem;
}

.booking-right {
    width: 83vw;
    height: 100vh;
    /* overflow:hidden; */
}

.table {
    width: 80vw;
}


/* ///////////////////// Calendar CSS /////////////////////// */
.calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-color: white;
    margin-bottom: 1rem; 
    position: relative;
    border-radius: 12px;
    padding: 1rem 2rem;
    width: 81vw;
    height: 90%;
}

.confirmed-bookings{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80vw;
    /* overflow-x: scroll; */
    gap: 2rem;
 }

 .calendar-grid-container {
    width: 80vw;
    overflow: scroll;
 }