:root {
    --height: 0px;
    --size: 180px;
    /* --width: 180px;
    --logo: 0px;
    --heightTA: 40px; */
}

.home-1 {
    height: 100vh;
    background-image: url('./images/homepage.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.home-1-welcome {
    margin: 0;
    font-family: 'Archivo Black', sans-serif;
}
.home-1-title {
    margin: 0;
    font-family: 'Archivo Black', sans-serif;
    font-size: var(--size);
    text-align: center;
    width: 100vw;
    position: absolute;
    bottom: var(--height);
}

.home-1-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-1-t {
    font-size: 2rem;
    color: white;
    max-width: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 600;
}


@media (max-width: 750px) {
    .home-1-title {
        font-size:25px;
        text-align: left;
        padding-left: 20px;
    }
    
}

.home-1-overlay {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

@media (max-width: 750px) {
    .home-1-content-p {
        font-size: 20px;
    }
    
}

/* ////////////////////////////////////////////////////////////////// */

.home-2 {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
    color: #121434;
}

.home-4 {
    padding-top: 0rem;
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
    color: #121434;
}

.home-content-container {
    background-image: url("./images/background-stripes.png");
}

.about {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    gap: 0px;
    transition: 0.5s;
    transform-origin: left;
    transform: scale(1);
}

.header {
    margin: 0;
    display: flex;
    align-items: center;
    gap:5px;
    height: 36px;
}

.about-text {
    width: 40vw;
    text-align:start;
}

.home-new-booking-form {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #101923;
    z-index: 4;
    border-radius: 12px;
    padding: 1rem;
    padding-left: 1.2rem;
}

.home {
    position: relative;
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-20%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  

  .element-in-view-left {
    animation-play-state: running;
    opacity: 1;
    animation: slideInFromLeft 0.5s ease-out; 
  }
  
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
@keyframes slideInFromRight {
    0% {
      transform: translateX(20%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  

  .element-in-view-right {
    animation-play-state: running;
    opacity: 1;
    animation: slideInFromRight 0.5s ease-out; 
  }



  /* ///////////////////////////////////////////////////////////// */
  

.scrolling-text-container {
    border-radius: 4px;
    overflow: hidden;
    padding-top: 4rem;
    box-sizing: border-box;
    position: sticky;
    top: 0rem;
    left: 0rem;
}


.scrolling-text-inner {
    display: flex;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 400;
    padding: 8px 0;
    color: white;
    gap: 6px;
    text-transform: uppercase;
    border-top: 0.3px solid white;
    border-bottom: 0.3px solid white;
}


.scrolling-text {
    display: flex;
    align-items: center;
}

.scrolling-text-item {
    padding: 0 30px;
}

.dot {
    width: 4px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    background-color: white ;
}


.scrolling-text-inner>div {
    animation: scroll-left 40s linear infinite;
}


.scrolling-text-container:hover .scrolling-text-inner>div {
    animation-play-state: paused;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.about-images {
    position: relative;
}

.image-1-about {
    width: 330px;
    position: absolute;
    object-fit: contain;
    height: 380px;
    top: 145px;
    left: 302px;
}
.image-2-about {
    width: 400px;
    position: absolute;
    object-fit: contain;
    height: 380px;
    top: -50px;
    left: 40px;
}
.image-3-about {
    width: 265px;
    position: absolute;
    object-fit: contain;
    top: 247px;
    left: 90px;
}

.about-container {
    width: 50vw;
    height: 500px;
}

.contact-text {
    margin: 0px;
    font-size: 1rem;
    letter-spacing: 3px;
}

.home-3 {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 10rem;
    background-color: white;
    margin-left: 15rem;
    margin-right: 15rem;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bold {
    font-weight: 600;
}

.chef-text {
    width: 580px;
    text-align: right;
}

.chef-images {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: max-content;
}

.image-1-chef {
    width: 400px;

}

.chef-container {
    width: 50vw;
    position: relative;
}

.chef-title {
    letter-spacing: 4px;
    font-weight: 900;
    margin: 0;
}

.chef-images-container {
    display: flex;
    align-items: center;
    justify-content: center;
}