:root {
    --titleDisplay: flex;
    --fontColor: white;
}

.navbar {
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    z-index: 1;
}
.navbar-title {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
    margin: 0;
    padding-top: 9px;
    color: var(--fontColor);
}

.navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
}

.navbar-info {
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

.image-flexbox, .navbar-links {
    flex-grow: 1;
    flex-basis: 0;
 }

.navbar-info a {
    /* color: black; */
    font-weight: 700;
    color: var(--fontColor);
}

.navbar-contact {
    display: flex;
    white-space: nowrap;
    gap: 20px;
}


.numbers {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.navbar-title:hover {
    /* color: white; */
}


.navbar-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding-top: 5px;
}

.booking-link-text {
    display: inline-block;
    white-space: nowrap;
    color: #FF6A39 ;
    font-weight: 600;
    animation-delay: 50ms;
}

.booking-link-text:hover {
    /* color: white; */
    font-weight: 700;
    animation-delay: 50ms;
    text-decoration:#FF6A39 underline ;
}

@keyframes shake {
    0%, 20% { transform: rotate(0deg) }
    37% { transform: rotate(0deg) }
    37.5% { transform: rotate(-5deg) }
    40% { transform: rotate(5deg) }
    42.5% { transform: rotate(-5deg) }
    45% { transform: rotate(5deg) }
    47.5% { transform: rotate(-5deg) }
    50% { transform: rotate(5deg) }
    52.5% { transform: rotate(0deg) }
    65%, 100% { transform: rotate(0deg) }
  }
  
.shake {
    animation: shake 5s ease-in-out infinite;
}
.booking-link {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.booking-link svg:hover {
    animation: shake 0.5s;
    /* color: var(--fontColor); */
}

.booking-link svg {
    /* color: black; */
    width: 100%;  
    color: var(--fontColor);
}

.tripadvisor-logo-home {
    width: 40px;
    border-radius: 8px;
    margin-top: 2px;
}