.navbar {
position: fixed;
justify-content:center;
width: 100vw;
z-index: 2;
border-top: 0px solid white;
}

.navbar-title {
    font-family: 'Archivo Black', sans-serif;
    font-size: 25px;
    padding-top: 0.7rem;
    text-decoration: none !important;
}

.navbar-links {
    display: flex;
    margin-top: 0.7rem;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.menu-link-text:hover {
   text-decoration: none;
}

@keyframes shake {
    0%, 20% { transform: rotate(0deg) }
    37% { transform: rotate(0deg) }
    37.5% { transform: rotate(-5deg) }
    40% { transform: rotate(5deg) }
    42.5% { transform: rotate(-5deg) }
    45% { transform: rotate(5deg) }
    47.5% { transform: rotate(-5deg) }
    50% { transform: rotate(5deg) }
    52.5% { transform: rotate(0deg) }
    65%, 100% { transform: rotate(0deg) }
  }
  
.shake {
    animation: shake 3.5s ease-in-out infinite;
}
.booking-link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.tripadvisor-logo {
    width: 4.5rem;
    border-radius: 12px;
    transition: 1s opacity ease-in;
  }

.navbar-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 16px;
    padding-right: 30px;
    transition: background-color 0.2s ease-in;
}

.navbar-1-left, .navbar-links {
    flex-grow: 1;
   flex-basis: 0;
}

.navbar-1-left {
    display: flex;
    align-items: center;
}

.navbar-links-flex {
    margin-left: 0px;
    margin-right: 0px;
}

.book-button {
    border: 1px solid black;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 24px;
    color: black;
}

.book-button:hover {
    color: white;
    animation-delay: 50ms;
    background-color: black;
}

.navbar-1-contacts{
    display: flex;
    flex-direction: column;
    transition: 3s display ease-out;
}
.navbar-1-contacts a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar-1-contacts p, .navbar-1-contacts a  {
    margin: 0px;
    font-size: 12px;
}

@media (max-width: 740px) {
    .navbar-1-left {
        display: none;
    }
    
}

.main-button {
    background-color: black ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-button:hover {
    background-color: black ;
    color: white;
    text-decoration: none;
}

.navbar-links {
    visibility: hidden;
}

.navbar-links > * {
    visibility: visible;
    transition: opacity 200ms;

}

.navbar-links:hover > :not(:hover) {
    opacity: 0.5
}